{layout '@admin.latte'}

{block content}
<main class="main-content">
    <div class="container mt-5">
        <h1>Vítejte v administraci</h1>
        <p>Vyberte si sekci z menu vlevo.</p>
    </div>
</main>
{/block}